# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.res

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QMake files
Makefile*
.qmake*
*.pro.user*
*.qm
*.bundle
*_plugin_import.cpp
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
